.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menu-item {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  margin-right: 30px;
  font-size: 12px;
}

.menu-item:hover {
  box-shadow: 0 0 2px rgba(0,0,0,0.75);
}

.item {
  width: 70%;
  border: 1px solid #000;
}

.selected-item {
  background: blue;
  color: white;
}

.unselected-item {
  background: 
}